$black: #000;
$dark: #f7b733;
$light: rgba(254, 243, 224, 0.52);

.entry-content .strided-member-content-block {

    .strided-member-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .strided-member-content-item {
            width: 30%;
            list-style-type: none;
        }
    }

}
