/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .horse-information label,
 .arena-information label {
 	display: block;
 	margin-bottom: 0.5rem;
 }

 .horse-information input,
 .horse-information select,
 .arena-information textarea {
 	display: block;
 	width: 100%;
 }

